html
    head
        title VisCity
        link(rel='stylesheet',href='/css/createproject.css')
        script.
            function setURL() {
                let projectname = document.getElementByName("projectname").value;
                let action = `/project/${#{projectname}}//editmode`;
                let form = document.getElementById('form');
                console.log(action);
                form.action = action;
            };

    body
        .headline
            h1 VISCITY
            h2 create new project


        .container
            form(method="post" id="form")
                .infocontainer
                    div
                        input(type="text", name="projectname", required=true value=projectname placeholder="projectname")
                        input(type="number", name="projectid", required=true placeholder="projectID")
                        input(type="text" placeholder="desc")
                        input(type="text" placeholder="Tags")
                        label Private
                        input(type='checkbox')

                .buttoncontainer
                    button(type="submit") CREATE

    footer
        p (c) 2023 Gebert & Rehtanz Gmbh